/* set 1 REM=10px to page */
:root {
    font-size: 62.5%;
}
/* Remove default propertys*/
/* Set Font,color and sizing for page*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(70, 68, 68);
    
}
/* To  Center and align content on page code from https://developer.mozilla.org/en-US/ */
.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
}
/* Headings*/
h1 {
    font-size: 3rem;
    letter-spacing: 0.3rem;
    padding: 1rem;
}
h2 {
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    text-align: center;
    padding: 0.5rem;   
}
/* Typing effect code from  https://dev.to/j471n/typing-effect-by-using-css-50p */
.typing {

    overflow: hidden;
    white-space: nowrap;

    animation: typing 3.5s steps(40, end),
        cursor-blink 0.75s step-end;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
/* Game area*/
.game-area {
    background-color: rgba(135, 207, 235, 0.63);
    border: 0.1rem solid rgb(70, 68, 68);
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem;

}
/* Score area and players options */
.score-container, .player-options {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}
.score {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;

}


/* players buttons */
.players-btn {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    border: 0.2rem solid rgb(70, 68, 68);
    cursor: pointer;
    transition: 0.4s;
   
}


/* add images to players buttons*/
#rock {
    background: url(../images/rock.png) center no-repeat;
    background-color:rgb(199, 226, 236);
}
#paper {
    background: url(../images/paper.png) center no-repeat;
    background-color:rgb(199, 226, 236);
}
#scissors {
    background: url(../images/scissors.png) center no-repeat;
    background-color:rgb(199, 226, 236);
}
#rock:hover {
    background-color: rgba(11, 218, 245, 0.63);
}
#paper:hover {
    background-color: rgba(11, 218, 245, 0.63);
}
#scissors:hover {
    background-color: rgba(11, 218, 245, 0.63);
}




